@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSansCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSansCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSansCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:where(ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --font-family-base: "Open Sans", sans-serif;
  --container-width: 1280px;
  --nav-gap: 40px;
  --button-radius: 5px;
  --color-primary: #00b7ec;
  --color-secondary: #9bcc37;
  --color-text-base: #666666;
  --color-white: #fff;
  --color-black: #000;
}

body {
  font-family: var(--font-family-base);
  margin: 0;
  background-color: #fff;
}

.header {
  background-color: var(--color-primary);
  width: 100%;
  height: 106px;
  display: flex;
  align-items: center;
  position: relative;
}

.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 40px;
  position: static;
}

.header__logo {
  align-items: start;
}

.header__logo img {
  display: block;
  margin: 0 auto;
}
.logo-desktop {
  display: block;
  width: 74px;
  height: auto;
}
.logo-mobile {
  display: none;
}

.header__nav--desktop {
  display: flex;
  align-items: center;
  gap: var(--nav-gap);
  justify-content: flex-start;
}

.nav__list {
  display: flex;
  gap: var(--nav-gap);
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list-link {
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
}
.header__nav--desktop .nav__list-link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.nav__button {
  height: 40px;
  padding: 0 32px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  color: var(--color-primary);
  background-color: var(--color-white);
  white-space: nowrap;
}
.header__nav--desktop .nav__button:hover {
  background-color: #f0f0f0;
}

.header__nav--mobile {
  display: none;
}

.header__mobile-left,
.header__mobile-right {
  display: none;
}

.welcome__container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.welcome__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.welcome__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 47, 61, 0.8);
}
.welcome__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome__content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 20px;
  max-width: 834px;
  margin: 0 auto;
}

.welcome__title {
  font-size: 64px;
  margin-bottom: 30px;
  line-height: 1.2;
  font-weight: 700;
}

.welcome__text {
  font-size: 25px;
  margin-bottom: 40px;
  line-height: 1.5;
  font-weight: 400;
}
.welcome__text br {
  display: none;
}

.welcome__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 63px;
  flex-wrap: wrap;
}

.welcome__why {
  width: 175px;
  height: 50px;
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: var(--button-radius);
}

.welcome__why:hover {
  background-color: #77ba04;
}

.welcome__button {
  width: 327px;
  height: 50px;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  background-color: var(--color-white);
  font-size: 18px;
  font-weight: bold;
  border-radius: var(--button-radius);
}

.welcome__button:hover {
  color: #77ba04;
}

.about {
  padding: 60px 0;
}
.about__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 60px;
  display: flex;
  align-items: center;
}

.about__content {
  flex: 1 1 60%;
  min-width: 0;
}
.about__image {
  flex: 0 0 auto;
  width: 38%;
  max-width: 400px;
}
.about__image img {
  border-radius: 50%;
  display: block;
  max-width: 100%;
  height: auto;
}

.about__title {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--color-primary);
  text-align: left;
  font-weight: 300;
}

.about__text {
  font-weight: 400;
  font-size: 18px;
}
.about__text p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-text-base);
}

.about__actions {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  margin-top: 30px;
  flex-wrap: wrap;
}

.about__more {
  background-color: var(--color-primary);
  width: 225px;
  height: 50px;
  color: var(--color-white);
  border-radius: var(--button-radius);
  border: none;
  font-weight: 700;
  font-size: 18px;
}

.about__more:hover {
  background-color: #1998d5;
}

.about__button {
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  border-radius: var(--button-radius);
  font-weight: 700;
  font-size: 18px;
  padding: 0 30px;
  height: 50px;
  min-width: 290px;
}

.about__button:hover {
  color: #1998d5;
}

.values-slider {
  background-color: #e9e9e9;
  padding: 0px 0;
}

.values__slider-container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 10px;
}

.values__slider-title {
  font-size: 36px;
  color: var(--color-primary);
  font-weight: 300;
  margin-bottom: 37px;
  text-align: left;
}

.values__slider-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.values__slider-wrapper::-webkit-scrollbar {
  width: 0;
}

.values__slider-track {
  display: flex;
  gap: 37px;
  padding-bottom: 102px;
  width: max-content;
}

.values__slider-item {
  flex: 0 0 auto;
  width: 330px;
  text-align: center;
}

.values__slider-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.values__slider-item-title {
  font-weight: bold;
  font-size: 20px;
  color: var(--color-text-base);
  line-height: 1.4;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.values__slider-item-text {
  font-size: 16px;
  color: var(--color-text-base);
  font-weight: 400;
  line-height: 1.5;
}

.values__slider-image-wrapper {
  position: relative;
  display: inline-block;
}

.values__slider-number {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 86px;
  height: auto;
  z-index: 2;
}

.values__slider-image-wrapper::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0px;
  width: 86px;
  height: 86px;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
  font-family: var(--font-family-base);
}

.values__slider-track
  .values__slider-item:nth-child(1)
  .values__slider-image-wrapper::after {
  content: "1";
}
.values__slider-track
  .values__slider-item:nth-child(2)
  .values__slider-image-wrapper::after {
  content: "2";
}
.values__slider-track
  .values__slider-item:nth-child(3)
  .values__slider-image-wrapper::after {
  content: "3";
}
.values__slider-track
  .values__slider-item:nth-child(4)
  .values__slider-image-wrapper::after {
  content: "4";
}
.values__slider-track
  .values__slider-item:nth-child(5)
  .values__slider-image-wrapper::after {
  content: "5";
}

.development {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    linear-gradient(to bottom, #28e473, #46cd16 34%, #27ddd1 65%, #05b0d5);
  padding: 80px 0;
}

.development__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.development__title {
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  color: var(--color-primary);
}

.content-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
}

.development__content {
  flex: 1 1 50%;
  min-width: 0;
}
.development__video {
  flex: 1 1 50%;
  position: relative;
  max-width: 538px;
  margin: 0 auto;
}

.development__lead {
  font-size: 18px;
  line-height: 1.7;
  color: var(--color-text-base);
}
.development__lead:not(:last-child) {
  margin-bottom: 1.5em;
}

.development__video img:first-child {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: block;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.play-icon:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.feed {
  background-color: #e9e9e9;
  padding-bottom: 40px;
}

.feed__container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 10px;
}

.feed__title {
  font-size: 36px;
  font-weight: 300;
  color: var(--color-primary);
  text-align: left;
  margin-bottom: 20px;
  padding-top: 37px;
}

.feed__slider {
  position: relative;
  padding: 0 50px;
  margin: 0 -20px;
}

.feed__wrapper {
  overflow: hidden;
}

.feed__track {
  display: flex;
  gap: 28px;
  width: max-content;
  transition: transform 0.5s ease;
}

.feed__card {
  flex: 0 0 273px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.55),
    rgba(163, 223, 250, 0.3)
  );
  transition: box-shadow 0.3s ease;
  border: 1px solid #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.feed__card:hover {
  box-shadow: 0px 4px 15px rgba(0, 183, 236, 0.2);
}

.feed__card-image {
  display: block;
  width: 100%;
  height: 156px;
  object-fit: cover;
}

.feed__card-content {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.feed__card-title {
  font-size: 18px;
  color: var(--color-text-base);
  line-height: auto;
  font-weight: 400;
  margin-bottom: 10px;
  flex-grow: 1;
}

.feed__card-button {
  display: inline-block;
  width: 100%;
  padding: 7px 20px 10px 20px;
  border: 1px solid var(--color-primary);
  border-radius: var(--button-radius);
  color: var(--color-primary);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  margin-top: auto;
}

.feed__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  width: 22px;
  height: 36px;
  color: var(--color-text-base);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
}

.feed__arrow--prev {
  left: 10px;
}

.feed__arrow--next {
  right: 10px;
}

.internship {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 415px;
  overflow: hidden;
  color: var(--color-white);
  text-align: center;
}

.internship__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.internship__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.internship__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 47, 61, 0.5);
  z-index: 2;
}

.internship__content {
  position: relative;
  z-index: 3;
  padding: 40px 20px;
  max-width: 700px;
}

.internship__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.4;
}
.internship__title br {
  display: none;
}

.internship__button {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  padding: 12px 30px;
  width: auto;
  min-width: 273px;
  border-radius: var(--button-radius);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.internship__button:hover {
  background-color: #8bb430;
}

.faq {
  padding: 60px 0 80px 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    linear-gradient(to bottom, #28e473, #46cd16 34%, #27ddd1 65%, #05b0d5);
}

.faq__container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: flex-start;
}

.faq__content {
  flex: 1 1 60%;
  min-width: 0;
}
.faq__image {
  flex: 0 0 auto;
  width: 35%;
  max-width: 378px;
  align-self: baseline;
}
.faq__image img {
  display: block;
  width: 100%;
  height: auto;
}

.faq__title {
  font-size: 36px;
  color: var(--color-primary);
  font-weight: 300;
  margin-bottom: 40px;
  text-align: left;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.faq__item {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 183, 236, 0.2);
}
.faq__item:first-child {
  padding-top: 0;
}
.faq__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.faq__item-header {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.faq__item-arrow {
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.faq__item.faq__item--active .faq__item-arrow {
  transform: rotate(90deg);
}

.faq__item-title {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text-base);
  line-height: 1.4;
  margin: 0;
  text-decoration: none;
  transition: color 0.2s ease;
}

.faq__item.faq__item--active .faq__item-title {
  color: var(--color-primary);
}

.faq__item-details {
  font-weight: 400;
  color: var(--color-text-base);
  font-size: 18px;
  line-height: 1.7;
  padding-left: 33px;
  padding-top: 15px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease-out, padding-top 0.4s ease-out,
    opacity 0.4s ease-out;
}

.faq__item.faq__item--active .faq__item-details {
  max-height: 1000px;
  opacity: 1;
}

.faq__bullet-list {
  list-style: none;
  padding-left: 20px;
  margin-top: 1em;
}
.faq__bullet-item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 0.8em;
}
.faq__bullet-item::before {
  content: "•";
  color: var(--color-primary);
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0px;
  line-height: inherit;
}
.faq__bullet-item strong {
  color: var(--color-black);
}

.application-form {
  padding: 61px;
  background-image: url("image/backg-form.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.application-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 47, 61, 0.6);
  z-index: -1;
}

.application-form__container {
  max-width: 840px;
  margin: 0 auto;
  padding: 60px;
  background-color: var(--color-primary);
  position: relative;
  z-index: 2;
  color: var(--color-white);
}

.application-form__title {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 18px;
  color: var(--color-white);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form__label {
  font-size: 18px;
  font-weight: 300;
  color: var(--color-white);
  display: block;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 12px 15px;
  font-size: 18px;
  border: 1px solid;
  border-radius: var(--button-radius);
  font-size: 18px;
  color: var(--color-text-base);
  background-color: var(--color-white);
}

.form__input-wrapper {
  position: relative;
}

.form__validation-icon {
  position: absolute;
  right: 10px;
  width: 31px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  text-align: center;
  z-index: 3;
}

.form__validation-icon--error {
  color: var(--color-white);
  background-color: #fd7583;
  border-radius: 50%;
}

.form__input-wrapper--error {
  border-color: #fd7583;
}

.form__validation-icon--success {
  color: var(--color-white);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  border-radius: 50%;
}

.form__label--radio-legend {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.form__radio-options {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.form__radio-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.form__radio-item input[type="radio"] {
  accent-color: var(--color-white);
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.form__textarea {
  resize: vertical;
}

.form__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.form__button {
  padding: 12px 25px;
  border: 1px solid var(--color-secondary);
  font-size: 18px;
  font-weight: bold;
  border-radius: var(--button-radius);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.form__button--attach {
  background-color: var(--color-white);
  color: var(--color-secondary);
  width: 270px;
}

.form__attach-icon {
  width: 28px;
  height: 27px;
}

.form__button--submit {
  background-color: var(--color-secondary);
  color: var(--color-white);
  width: 218px;
}

.form__input--file {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 1040px) {
  .nav__button {
    height: auto;
    white-space: wrap;
  }
  .nav__list-link {
    white-space: wrap;
  }
}

@media (max-width: 780px) {
  body {
    line-height: 1.6;
  }
  :root {
    --nav-gap: 20px;
  }

  .header {
    height: 101px;
    background-color: var(--color-white);
  }

  .header__container {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-desktop {
    display: none;
  }
  .logo-mobile {
    display: block;
    height: 30px;
    width: auto;
  }
  .header__logo {
    margin-right: 0;
    flex-shrink: 0;
  }

  .header__nav--desktop {
    display: none;
  }

  .header__mobile-left,
  .header__mobile-right {
    display: flex;
    /* align-items: center; */
    gap: 15px;
  }

  .mobile-icon img {
    height: 22px;
    width: auto;
    display: block;
  }

  .header__burger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 11;
  }
  .header__burger-btn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }

  .header__nav--mobile {
    display: flex;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #00a3d9;
    padding: 20px 15px;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .header__nav--mobile.open {
    visibility: visible;
    opacity: 1;
  }
  .header__nav--mobile .nav__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .header__nav--mobile .nav__list-link {
    font-size: 18px;
    padding: 10px 5px;
    display: block;
    width: 100%;
    color: var(--color-white);
    transition: background-color 0.2s ease;
  }

  .header__nav--mobile .nav__button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    font-size: 18px;
    margin-top: 10px;
    background-color: var(--color-white);
    color: var(--color-primary);
    border: none;
    border-radius: var(--button-radius);
  }

  .welcome__title {
    font-size: 34px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  .welcome__text {
    font-size: 17px;
    margin-bottom: 30px;
  }
  .welcome__text br {
    display: initial;
  }
  .welcome__actions {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .welcome__why,
  .welcome__button {
    width: 90%;
    max-width: 320px;
    font-size: 16px;
    min-width: auto;
    height: 45px;
    padding: 0 15px;
  }

  .about {
    padding: 40px 0;
  }
  .about__container {
    flex-direction: column;
    gap: 30px;
    padding: 0 15px;
  }
  .about__image {
    display: none;
  }
  .about__content {
    text-align: center;
  }
  .about__title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  .about__text {
    text-align: left;
    max-width: 100%;
    font-size: 16px;
    line-height: 1.6;
  }
  .about__actions {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
    width: 100%;
  }
  .about__more,
  .about__button {
    width: 90%;
    max-width: 300px;
    min-width: auto;
    font-size: 16px;
    height: 45px;
  }

  .development {
    padding: 40px 0;
    margin-top: 40px;
  }
  .development__container {
    margin: 0 15px;
    padding: 0;
  }
  .development__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .content-wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .development__content {
    order: 2;
  }
  .development__video {
    order: 1;
    max-width: 100%;
  }
  .development__text {
    width: 100%;
    text-align: left;
  }
  .development__lead {
    font-size: 16px;
    line-height: 1.6;
  }
  .play-icon {
    width: 60px;
  }

  .internship {
    min-height: 350px;
  }
  .internship__title {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  .internship__title br {
    display: initial;
  }
  .internship__button {
    width: 90%;
    max-width: 280px;
    font-size: 16px;
    min-width: auto;
    padding: 12px 20px;
    height: auto;
  }

  .faq {
    padding: 40px 0;
  }
  .faq__container {
    flex-direction: column;
    gap: 0;
    padding: 0 15px;
  }
  .faq__image {
    display: none;
  }
  .faq__content {
    flex-basis: 100%;
  }
  .faq__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }
  .faq__item {
    padding: 15px 0;
  }
  .faq__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .faq__item:first-child {
    padding-top: 0;
  }

  .faq__item-header {
    gap: 10px;
    cursor: pointer;
  }
  .faq__item-arrow {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
  }
  .faq__item-title {
    font-size: 16px;
    color: var(--color-text-base);
    line-height: 1.4;
    text-decoration: none;
  }
  .faq__item.faq__item--active .faq__item-title {
    color: var(--color-primary);
  }

  .faq__item-details {
    font-size: 15px;
    line-height: 1.6;
    padding-left: 26px;
    padding-top: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }

  .faq__item.faq__item--active .faq__item-details {
    max-height: 1000px;
    opacity: 1;
    padding-top: 15px;
  }

  .faq__item.faq__item--active .faq__item-arrow {
    transform: rotate(180deg);
  }
  .faq__item:not(.faq__item--active) .faq__item-arrow {
    transform: rotate(0deg);
  }

  .faq__bullet-list {
    padding-left: 15px;
    margin-top: 0.8em;
  }
  .faq__bullet-item {
    padding-left: 15px;
    font-size: 15px;
    margin-bottom: 0.6em;
  }
  .faq__bullet-item::before {
    left: 0px;
  }

  .application-form__container {
    padding: 20px;
  }
  .application-form__title {
    font-size: 24px;
  }
  .form__actions {
    flex-direction: column;
    align-items: stretch;
  }
  .form__button {
    width: 100%;
  }

  .form__actions {
    margin-top: 20px;
    gap: 6px;
  }

  .form__textarea {
    height: 50px;
  }

  .application-form {
    padding: 24px 10px 10px 10px;
  }
}

@media (max-width: 480px) {
  .header__mobile-left,
  .header__mobile-right {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  .mobile-icon img {
    height: 30px;
  }
  .header__burger-btn {
    width: 26px;
    height: 18px;
  }

  .welcome__title {
    font-size: 28px;
  }
  .welcome__text {
    font-size: 16px;
  }

  .about__title {
    font-size: 24px;
  }
  .about__text {
    font-size: 15px;
  }
  .about__more,
  .about__button {
    font-size: 15px;
  }

  .values__slider-title {
    font-size: 28px;
  }

  .values__slider-item-text {
    font-size: 14px;
  }

  .values__slider-item {
    width: 235px;
  }

  .values__slider-number {
    width: 73px;
    top: 3px;
    left: 3px;
  }

  .values__slider-image-wrapper::after {
    width: 73px;
    height: 73px;
    top: 3px;
    left: 3px;
    font-size: 48px;
  }

  .development__title {
    font-size: 24px;
  }
  .development__lead {
    font-size: 15px;
  }

  .feed__title {
    text-align: center;
  }

  .feed__arrow {
    color: var(--color-primary);
  }

  .internship__title {
    font-size: 24px;
  }
  .internship__button {
    font-size: 15px;
  }

  .faq__title {
    font-size: 24px;
  }
  .faq__item-title {
    font-size: 15px;
  }
  .faq__item-details {
    font-size: 14px;
    padding-left: 26px;
  }
  .faq__bullet-item {
    font-size: 14px;
  }

  .application-form {
    padding: 24px 10px 10px 10px;
  }

  .application-form__container {
    padding: 30px 15px;
  }

  .application-form__title {
    font-size: 28px;
  }

  .form__actions {
    margin-top: 20px;
    gap: 6px;
  }

  .form__textarea {
    height: 50px;
  }
}
